
[Desktop Entry]
Name=GNU Octave
Comment=Scientific Computing using GNU Octave
TryExec=/mnt/oqtansTools/oqtans_dep/octave-3.4.3/bin/octave
Exec=/mnt/oqtansTools/oqtans_dep/octave-3.4.3/bin/octave
Icon=/mnt/oqtansTools/oqtans_dep/octave-3.4.3/share/octave/3.4.3/imagelib/octave-logo.svg
Terminal=true
Type=Application
Categories=Development;Math;Science;
StartupNotify=false
X-Desktop-File-Install-Version=0.15
